@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap&family=Nunito&display=swap&family=Oswald:wght@700&display=swapMontserrat&display=swap&family=PT+Sans&display=swap');
 :root {
    --main-green-dark: #14461d;
    --main-green-light: #518431;
    --main-margin-size: 20vw auto;
    --main-font-header: 'Oswald', sans-serif;
    --main-font-text: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}
 
html::-webkit-scrollbar-track {
    background-color: #76be49;
}
 
html::-webkit-scrollbar-thumb {
    background-color: #1d6b2b;
    border-radius: 100px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    /*font-family: 'Rowdies', cursive;*/
    font-size: 3em;
    color: #222222;
    font-family: var(--main-font-header);
}
h3 {
    font-size: 2.5em;
}

p,
.text {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: var(--main-font-text);
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
    color: #474747;
    margin: 20px auto;
}

.main-header-h2 {
    position: relative;
    width: 100%;
    font-size: 3.5em;
    text-align: center;
    margin: 70px auto;
}

.main-header-h2::before {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 50%;
    width: 300px;
    height: 3px;
    background: var(--main-green-dark);
    transform: translateX(-50%);
}

span.text {
    font-weight: 700;
}

.greenish {
    color: var(--main-green-light);
}